@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@theme {
  --color-primary: #ECF4E8;
  --color-secondary: #CBF3BB;
  --color-accent: #ABE7B2;
  --color-dark: #93BFC7;

  --font-display: 'Rubik', sans-serif;

}
