@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

@theme {
  --color-primary: #ECF4E8;
  --color-secondary: #CBF3BB;
  --color-accent: #ABE7B2;
  --color-dark: #93BFC7;

  --font-display: 'Delius', cursive;

}
